{% include "snippets/topbar.html" %}
{% include "snippets/sidebar.html" %}

<div class="main-container">
    <div id="container" class="w-100 h-100">
        <div id="zoomable-flexbox" class="w-100 h-100 d-flex justify-content-center align-items-center">
            
            <div id="field" class="field">

                {% include "snippets/grid.html" %}
                {% include "snippets/sideline.html" %}
                {% include "snippets/yardline.html" %}
                {% include "snippets/hash.html" %}
                {% include "snippets/number.html" %}
                
            </div>

        </div>
    </div>
</div>