{% for i in range(1-9,84+9,1) %}

    {% if (i % 4 == 0 and i > 0 and i < 84) %}        
        <div class="gridline-h-bold" style="top: {{ i / 84 * 100}}%; left: 50%;"></div> 
    {% else %}
        <div class="gridline-h" style="top: {{ i / 84 * 100}}%; left: 50%;"></div> 
    {% endif %} 
    
{% endfor %}

{% for i in range(1-9,160+9,1) %}

    {% if (i % 4 == 0 and i > 0 and i < 160) %}        
        <div class="gridline-v-bold" style="top: 50%; left: {{i / 160 * 100}}%;"></div>
    {% else %}
        <div class="gridline-v" style=" top: 50%; left: {{i / 160 * 100}}%;"></div>
    {% endif %}

{% endfor %}