<div class="sidebar">
    <div class="sidebar-flex w-100 h-100 d-flex justify-content-around align-items-center">

        <button id="playPauseButton" class="btn btn-light btn-outline-dark rounded-circle sidebar-btn">Play</button>
        <button id="nextButton" class="btn btn-light btn-outline-dark rounded-circle sidebar-btn">+</button>
        <button id="prevButton" class="btn btn-light btn-outline-dark rounded-circle sidebar-btn">-</button>
        <button id="showButton" class="btn btn-light btn-outline-dark rounded-circle sidebar-btn">I</button>
        <button id="flipButton" class="btn btn-light btn-outline-dark rounded-circle sidebar-btn">v</button>
                
    </div>
</div>   