<div class="topbar">
    <form class="w-100 h-100 d-flex justify-content-around align-items-center">

        <div class="text-light text-center">
            <div>Page</div>
            <div id="pageDisplay"></div>
        </div>
        <div class="text-light text-center">
            <div>Measures</div>
            <div id="measuresDisplay"></div>
        </div>
        <div class="text-light text-center">
            <div>Counts</div>
            <div id="countsDisplay"></div>
        </div>

    </form>
</div>