:root {
    --main-cell-size: 32px;
    --sub-cell-size: calc(var(--main-cell-size) / 4);
    --field-width: calc(var(--main-cell-size) * 40 + 1px);
    --field-height: calc(var(--main-cell-size) * 21 + 1px);
    --dot-size: 1%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

main {
    position: relative;
    width: calc(var(--field-width));
    height: calc(var(--field-height));
    background-color: white;

    background-image: 
        linear-gradient(to right, #8cbfd7 1px, transparent 1px),
        linear-gradient(to bottom, #8cbfd7 1px, transparent 1px),
        linear-gradient(to right, #e1fefe 1px, transparent 1px),
        linear-gradient(to bottom, #e1fefe 1px, transparent 1px);
    background-size: 
        var(--main-cell-size) var(--main-cell-size), 
        var(--main-cell-size) var(--main-cell-size), 
        var(--sub-cell-size) var(--sub-cell-size), 
        var(--sub-cell-size) var(--sub-cell-size);
    background-position: 0 0, 0 0, 0 0, 0 0;  
}

.hash {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1.5%;
    height: 2px;
    background-color: #6e6e6e;
}

.yardline {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 1.5px;
    height: 100%;
    background-color: #6e6e6e;
}

.sideline {
    position: absolute;
    transform: translate(0%, -50%);
    width: 100%;
    height: 2px;
    background-color: #6e6e6e;
}

.number {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 210%;
    font-weight: bolder;
    color: #c0c0c0;
}

.dot {
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(var(--dot-size) * 0.525);
    height: var(--dot-size);
    background-color: black;
    border-radius: 50%;
}