{% extends "layout.html" %}

{% block title %}
    Dot Viewer
{% endblock %}

{% block scripts %}

{% endblock %}

{% block body %}

    {% include "snippets/field.html" %}

    <div class="full-screen-overlay w-100 h-100 d-flex justify-content-center align-items-center">
    
        <div class="title">Dot Viewer</div>

        <div class="menu-container d-flex justify-content-center align-items-center align-content-center">
    
            <button onclick="window.location.href='{{ url_for('PoP2021') }}'" class="box">PoP 2021</button>
            <button onclick="window.location.href='{{ url_for('PoP2022') }}'" class="box">PoP 2022</button>
            <button onclick="window.location.href='{{ url_for('PoP2023') }}'" class="box">PoP 2023</button>
            <button onclick="window.location.href='{{ url_for('PoP2024') }}'" class="box">PoP 2024</button>
        </div>

        <button onclick="window.location.href='{{ url_for('upload') }}'" class="btn btn-light upload-btn">Upload PDF</button>

    </div>

{% endblock %} 
