{% extends "layout.html" %}

{% block title %}
    Dot Viewer
{% endblock %}

{% block body %}
    
    {% include "snippets/field.html" %}

    <div class="full-screen-overlay sidebar-flex w-100 h-100 d-flex justify-content-center align-items-center align-content-center">
    
        <div class="title">Upload</div>

        <div class="upload-container d-flex justify-content-center align-items-center">
                
            <form action="/upload" method="POST" enctype="multipart/form-data" class="pdf-container d-flex justify-content-center align-items-center">
                <input type="file" name="pdf" accept="application/pdf" required>
                <button type="submit">Submit</button>
            </form>

            

        </div>
        
        <button onclick="window.location.href='{{ url_for('index') }}'" class="upload-btn">Back</button>

    </div>
    
 
{% endblock %} 
